<template>
	<div class="main-app">
		<router-view></router-view>
	</div>
</template>

<script>
export default {

}
</script>

<style scoped>
.main-app {
	height: 100vh;
	background: linear-gradient(#2c3e48, #202d35);
}
</style>
