<template>
    <div class="btn-container"
        :style="{ 'border-color': color }"
        @click="emitClickEvent">
        <div class="anim-bg"
            :style="{ 'border-color': color, 'background-color': color }"></div>
        <div class="icon"
            :class="iconClassObj"
            :style="{ 'border-color': color, 'background-color': color }"></div>
        <div class="label"
            :style="{ 'text-align': textAlign }">{{ label }}</div>
    </div>
</template>

<script>
export default {
    props: {
        label: {
            type: String,
            default: 'Button'
        },
        color: {
            type: String,
            default: '#03A9F4'
        },
        icon: {
            type: String,
            default: 'chart'
        },
        textAlign: {
            type: String,
            default: 'left'
        }
    },
    computed: {
        iconClassObj() {
            if (this.icon === 'chart') {
                return { 'chart': true };
            }
            else if (this.icon === 'dashboard') {
                return { 'dashboard': true };
            }
            else if (this.icon === 'export') {
                return { 'export': true };
            }
            else if (this.icon === 'setting') {
                return { 'setting': true };
            }
            else if (this.icon === 'save') {
                return { 'save': true };
            }
            else {
                return { 'chart': true };
            }
        }
    },
    methods: {
        emitClickEvent() {
            this.$emit('clicked');
        }
    }
}
</script>

<style scoped>
.btn-container {
    position: relative;
    display: flex;
    height: 5vh;
    line-height: 5vh;
    color: #cecece;
    font-size: 2.3vh;
    border: 2px solid;
    border-radius: calc(2.5vh + 2px);
    background-color: #194158;
}

.btn-container:hover {
    cursor: pointer;
}

.anim-bg {
    position: absolute;
    top: 0;
    left: 2.5vh;
    width: 0%;
    height: 100%;
    border: 1px solid;
    border-radius: 0 2.5vh 2.5vh 0;
    z-index: 1;
    transition: width 0.3s ease-out;
}

.btn-container:hover .anim-bg {
    width: calc(100% - 2.5vh);
}

.icon {
    width: 5vh;
    height: 5vh;
    border-radius: 2.5vh;
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid;
    box-sizing: border-box;
    z-index: 2;
}

.chart {
    background-size: 50%;
    background-image: url('../../asset/icon/chart-icon.svg');
}

.dashboard {
    background-image: url('../../asset/icon/dashboard-icon.svg');
}

.export {
    background-size: 55%;
    background-image: url('../../asset/icon/export-icon.svg');
}

.setting {
    background-image: url('../../asset/icon/setting-icon.svg');
}

.save {
    background-image: url('../../asset/icon/save-icon.svg');
}

.label {
    width: calc(100% - 5vh);
    color: #dddddd;
    font-weight: 300;
    padding-left: 2vh;
    padding-right: 2.7vh;
    box-sizing: border-box;
    z-index: 2;
}

.btn-container:hover .label {
    color: #FFFFFF;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.45);
}

</style>
