<template>
    <div class="clock">
        {{ hour }}:{{ minute }} <span class="time-convention">{{ timeConvention }}</span>
    </div>
</template>

<script>
export default {
    data() {
        return {
            hour: '0',
            minute: '0',
            second: '0',
            timeConvention: '',
            timerID: null
        }
    },
    methods: {
        tick() {
            let dateObj = new Date();

            let hour           = dateObj.getHours();
            let minute         = dateObj.getMinutes();
            let second         = dateObj.getSeconds();
            let timeConvention = hour < 12 ? 'AM' : 'PM';

            // transform to 12 hours format.
            if (hour > 12) {
                hour -= 12;
            }
            if (hour === 0) {
                hour = 12;
            }

            // pad '0' infront of minutes/seconds if < 10.
            minute = minute < 10 ? '0' + minute : '' + minute;
            second = second < 10 ? '0' + second : '' + second;

            // convert to string
            hour = hour.toString();

            // set state
            this.hour           = hour;
            this.minute         = minute;
            this.second         = second;
            this.timeConvention = timeConvention;
        }
    },
    created() {
        this.tick();
        this.timerID = setInterval(() => {
            this.tick()
        }, 1000);
    },
    beforeDestroy() {
        clearInterval(this.timerID);
    }
}
</script>

<style scoped>
.clock {
	line-height: 5vh;
	font-size: 3.5vh;
	padding-right: 15px;
}

.time-convention {
    font-size: 2.5vh;
    font-weight: 300;
}
</style>
