<template>
    <div>
        <main-header title="DASHBOARD" />
        <div class="dashboard">
            <div class="table-container">
                <div class="data-table">
                    <div class="table-header">
                        <div class="sensor">Sensor</div>
                        <div class="temp">Temperature (°C)</div>
                        <div class="humid">Humidity (%)</div>
                    </div>
                    <div class="table-row"
                        v-for="(sensor) in sensorData" :key="sensor.alias_name">
                        <div class="sensor">{{ sensor.name }}</div>
                        <div class="temp">{{ sensor.temp }}</div>
                        <div class="humid">{{ sensor.humid }}</div>
                    </div>
                </div>
            </div>
            <div class="navigation-container">
                <div class="button-group">
                    <btn-custom
                        class="button margin-right-4"
                        icon="chart"
                        label="Historical Data"
                        color="#1e88e5"
                        text-align="center"
                        @clicked="goToHistoricalData"
                    />
                    <btn-custom
                        class="button"
                        icon="setting"
                        label="Setting"
                        color="#ff5722"
                        text-align="center"
                        @clicked="goToSetting"
                    />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Header         from './header.vue';
import ButtonCustom   from './button-custom.vue';
import dashboardUtils from '../utils/dashboard-utils.js';

export default {
    components: {
        'main-header': Header,
        'btn-custom': ButtonCustom
    },
    data() {
        return {
            sensorData: [],
            timerID: null
        }
    },
    methods: {
        getSensorReading() {
            dashboardUtils
            .getSensorReading()
            .then(response => {
                this.updateSensorReading(response);
            })
            .catch(err => {
                console.error(err);
            });
        },
        updateSensorReading(sensorReadingList) {
            sensorReadingList.forEach(sensor => {
                let aliasName = sensor.rows[0].alias_name;
                let time  = sensor.rows[0].time
                let temp  = sensor.rows[0].temp;
                let humid = sensor.rows[0].humid;

                let filtered = this.sensorData
                                    .find((sensor) => {
                                        return sensor.alias_name === aliasName;
                                    });
                
                filtered.time  = time
                filtered.temp  = parseFloat(temp).toFixed(1);
                filtered.humid = parseFloat(humid).toFixed(1);
            });
        },
        goToHistoricalData() {
            this.$router.push({ name: 'historical' });
        },
        goToSetting() {
            this.$router.push({ name: 'setting' });
        }
    },
    created() {
        dashboardUtils
        .getSensorList()
        .then(sensorList => {
            // add timestamp, temp and humid prop to each sensor data object
            sensorList.forEach(sensor => {
                sensor.timestamp = null;
                sensor.temp  = '--',
                sensor.humid = '--'
            });
            this.sensorData = sensorList;
            this.getSensorReading();
        })
        .catch(err => {
            console.error(err);
        });

        this.timerID = setInterval(() => {
            this.getSensorReading()
        }, 30000);
    },
    beforeDestroy() {
        clearInterval(this.timerID);
    }
}
</script>

<style scoped>
.dashboard {
    height: 95vh;
}

.table-container {
    padding-top: 6vh;
}

.data-table {
    width: 55ch;
    color: #cecece;
    font-size: 2.3vh;
    margin: auto;
}

.table-header,
.table-row {
    display: flex;
    height: 5vh;
    line-height: 5vh;
    
}

.table-header {
    border-bottom: 1px solid #dadada;
}

.table-row:nth-child(odd) {
    background-color: #2D454F;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sensor {
    width: 25ch;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 15px;
}

.temp,
.humid {
    width: 15ch;
    text-align: center;
}

.navigation-container {
    display: flex;
    width: 100vw;
    padding: 2vh;
    margin-top: 3vh;
    box-sizing: border-box;
}

.button-group {
    display: flex;
    margin: auto;
}

.button {
    width: 20ch;
}

.margin-right-4 {
    margin-right: 4vh;
}

</style>
