<template>
    <div class="header">
        <div>
            <div class="logo"></div>
            <div class="label">{{ title }}</div>
        </div>
        <clock />
    </div>
</template>

<script>
import Clock from './clock.vue';

export default {
    components: {
		'clock' : Clock
    },
    props: {
        title: {
            type: String,
            default: 'Title'
        }
    }
}
</script>

<style scoped>
.header {
	display: flex;
	height: 5vh;
	color: #dadada;
	justify-content: space-between;
	background-color: #212E35;
}

.logo {

}

.label {
	line-height: 5vh;
	font-size: 3vh;
	font-weight: 400;
	padding-left: 15px;
}
</style>
