<template>
    <div>
        <main-header title="HISTORICAL DATA" />
        <div class="historical-container">
            <div class="section-left">
                <history-chart-temp
                    chart-id="temp_chart"
                    label="Temperature (°C)"
                    :series-filter="tempFilter"
                    :range-filter="rangeFilter"
                />
                <div class="horizon-divider-2"></div>
                <history-chart-humid
                    chart-id="humid_chart"
                    label="Humidity (%)"
                    :series-filter="humidFilter"
                    :range-filter="rangeFilter"
                />
            </div>
            <div class="section-right">
                <history-legend
                    @temp-changed="tempChangeHandler"
                    @humid-changed="humidChangeHandler"
                />
                <div class="range-filter">
                    <div class="filter-btn"
                        :class="filterBtnClassObjDaily"
                        @click="setRangeFilterToDaily">Daily</div>
                    <div class="filter-btn"
                        :class="filterBtnClassObjWeekly"
                        @click="setRangeFilterToWeekly">Weekly</div>
                    <div class="filter-btn"
                        :class="filterBtnClassObjMonthly"
                        @click="setRangeFilterToMonthly">Monthly</div>
                </div>
                <div class="btn-group">
                    <btn-custom
                        icon="export"
                        label="Export"
                        color="#f06292"
                        @clicked="displayExportPopup"
                    />
                    <div class="horizon-divider-1"></div>
                    <btn-custom
                        icon="dashboard"
                        label="Dashboard"
                        color="#4caf50"
                        @clicked="goToDashboard"
                    />
                </div>
            </div>
        </div>
        <history-export-popup 
            v-if="showExportPopup"
            :export-handler="exportHandler"
            :cancel-handler="cancelHandler"
            :is-export-loading="isExportLoading"
        />
        <a id="export" class="download-link"></a>
    </div>
</template>

<script>
import Header             from './header.vue';
import HistoryChartTemp   from './history-chart-temp.vue';
import HistoryChartHumid  from './history-chart-humid.vue';
import HistoryLegend      from './history-legend.vue';
import HistoryExportPopup from './history-export-popup.vue';
import ButtonCustom       from './button-custom.vue';
import config             from '../config/config.js';

export default {
    components: {
        'main-header': Header,
        'history-chart-temp': HistoryChartTemp,
        'history-chart-humid': HistoryChartHumid,
        'history-legend': HistoryLegend,
        'history-export-popup': HistoryExportPopup,
        'btn-custom': ButtonCustom
    },
    data() {
        return {
            tempFilter: [],
            humidFilter: [],
            rangeFilter: config.range.daily,

            // export pop-up
            showExportPopup: false,
            isExportLoading: false
        }
    },
    computed: {
        filterBtnClassObjDaily() {
            return { 'selected': this.rangeFilter === config.range.daily };
        },
        filterBtnClassObjWeekly() {
            return { 'selected': this.rangeFilter === config.range.weekly };
        },
        filterBtnClassObjMonthly() {
            return { 'selected': this.rangeFilter === config.range.monthly };
        }
    },
    methods: {
        tempChangeHandler(tempFilter) {
            this.tempFilter = tempFilter;
        },
        humidChangeHandler(humidFilter) {
            this.humidFilter = humidFilter;
        },
        setRangeFilterToDaily() {
            this.rangeFilter = config.range.daily;
        },
        setRangeFilterToWeekly() {
            this.rangeFilter = config.range.weekly;
        },
        setRangeFilterToMonthly() {
            this.rangeFilter = config.range.monthly;
        },
        displayExportPopup() {
            this.showExportPopup = true;
        },
        exportHandler(exportTimestampStart) {
            let endOfMonthDateObj   = new Date(exportTimestampStart);

            endOfMonthDateObj.setMonth(endOfMonthDateObj.getMonth() + 1, 1);
            endOfMonthDateObj.setHours(0, 0, 0, 0);

            let exportTimestampEnd = endOfMonthDateObj.getTime();

            this.isExportLoading = true;
            fetch(config.exportEndpoint + '/' + exportTimestampStart + '/' + exportTimestampEnd)
            .then(response => {
                return response.blob();
            })
            .then(blob => {
                this.isExportLoading = false;
                this.showExportPopup = false;

                let objectURL = URL.createObjectURL(blob);
                let link = document.getElementById('export');
                link.setAttribute('href', objectURL);
                link.setAttribute('download', this.getMonthStrByTimestamp(exportTimestampStart) + '_' + new Date(exportTimestampStart).getFullYear() + '_temp_humid.csv');
                link.click();   
            })
            .catch(err => {
                this.isExportLoading = false;
                this.showExportPopup = false;

                console.error(err);
            })
        },
        cancelHandler() {
            this.showExportPopup = false;
        },
        goToDashboard() {
            this.$router.push({ name: 'dashboard' });
        },
        getMonthStrByTimestamp(timestamp) {
            let dateObj = new Date(timestamp);
            let monthIndex = dateObj.getMonth();

            switch (monthIndex) {
                case 0: return 'January';
                case 1: return 'February';
                case 2: return 'March';
                case 3: return 'April';
                case 4: return 'May';
                case 5: return 'June';
                case 6: return 'July';
                case 7: return 'August';
                case 8: return 'September';
                case 9: return 'October';
                case 10: return 'November';
                case 11: return 'December';
            }
        }
    }
}
</script>

<style scoped>
.historical-container {
    display: flex;
    padding: 3vh;
}

.section-left {
    width: 75%;
    padding-right: 3vh;
    box-sizing: border-box;
}

.section-right {
    width: 25%;
}

.horizon-divider-1 {
    height: 1.2vh;
}

.horizon-divider-2 {
    height: 2.5vh;
}

.range-filter {
    display: flex;
    width: 100%;
    color: #cecece;
    margin-top: 2vh;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
}

.filter-btn {
    width: calc((100% - 2px) / 3);
    height: 4vh;
    line-height: 4vh;
    font-size: 1.8vh;
    text-align: center;
}

.filter-btn.selected {
    background-color: #2E5761;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.45);
}

.filter-btn:hover {
    cursor: pointer;
}

.filter-btn:not(:last-child) {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.btn-group {
    width: 50%;
    min-width: 15ch;
    margin-top: 7vh;
    margin-left: 50%;
}

.download-link {
    display: none;
}
</style>
