<template>
    <div class="chart-container">
        <div class="chart-label">{{ label }}</div>
        <div :id="chartId" class="chart-canvas"></div>
        <div class="loading-spinner"
            v-show="isLoading">
            <div class="spinner-icon"></div>
        </div>
    </div>
</template>

<script>
import { GoogleCharts } from 'google-charts';
import chartUtils       from '../utils/chart-utils.js';
import config           from '../config/config.js';

export default {
    props: {
        chartId: {
            type: String,
            required: true
        },
        label: {
            type: String,
            default: 'Chart Label'
        },
        seriesFilter: {
            type: Array,
            default: []
        },
        rangeFilter: {
            type: String,
            default: config.range.daily
        }
    },
    data() {
        return {
            isLoading: true,
            dataTable: null,
            dataView: null,
            chartOptions: null,
        }
    },
    computed: {
        seriesFilterIndex() {
            let seriesFilterIndex = [];

            this.seriesFilter.forEach((sensor, index) => {
                if (!sensor.isHumidChecked) {
                    seriesFilterIndex.push(index);
                }
            });
            return seriesFilterIndex;
        }
    },
    watch: {
        seriesFilterIndex(newFitlerIndex) {
            this.dataView = new GoogleCharts.api.visualization.DataView(this.dataTable);
            this.dataView.hideColumns(newFitlerIndex.map(index => index + 1)); // offset index by 1, 1st column is timestamp.
            this.drawChart();
        },
        rangeFilter(newRangeFilter) {
            if (newRangeFilter === config.range.daily) {
                Promise.all([
                    chartUtils.getSensorList(),
                    chartUtils.getDailyHumidData()
                ])
                .then(resultArray => {
                    let sensorList = resultArray[0];
                    let sensorData = resultArray[1];

                    this.prepareChartTableAndView(sensorList, sensorData);
                    this.drawChart();
                })
                .catch(err => {
                    console.error(err);
                });
            }
            else if (newRangeFilter === config.range.weekly) {
                Promise.all([
                    chartUtils.getSensorList(),
                    chartUtils.getWeeklyHumidData()
                ])
                .then(resultArray => {
                    let sensorList = resultArray[0];
                    let sensorData = resultArray[1];

                    this.prepareChartTableAndView(sensorList, sensorData);
                    this.drawChart();
                })
                .catch(err => {
                    console.error(err);
                });
            }
            else if (newRangeFilter === config.range.monthly) {
                Promise.all([
                    chartUtils.getSensorList(),
                    chartUtils.getMonthlyHumidData()
                ])
                .then(resultArray => {
                    let sensorList = resultArray[0];
                    let sensorData = resultArray[1];

                    this.prepareChartTableAndView(sensorList, sensorData);
                    this.drawChart();
                })
                .catch(err => {
                    console.error(err);
                });
            }
        }
    },
    methods: {
        drawChart() {
            let chart = new GoogleCharts.api.visualization.LineChart(document.getElementById(this.chartId));
            this.chartOptions = chartUtils.getChartOptions(this.seriesFilterIndex, this.rangeFilter);

            GoogleCharts.api.visualization.events.addListener(chart, 'ready', this.chartReady);
            chart.draw(this.dataView, this.chartOptions);
        },
        prepareChartTableAndView(sensorList, sensorData) {
            this.dataTable = chartUtils.buildHumidDataTable(sensorList, sensorData);
            this.dataView = new GoogleCharts.api.visualization.DataView(this.dataTable);
            this.dataView.hideColumns(this.seriesFilterIndex.map(index => index + 1)); // offset index by 1, 1st column is timestamp.
        },
        chartReady() {
            this.hideLoadingSpinner();
        },
        showLoadingSpinner() {
            this.isLoading = true;
        },
        hideLoadingSpinner() {
            this.isLoading = false;
        }
    },
    created() {
        this.showLoadingSpinner();
        this.chartOptions = chartUtils.getChartOptions();

        GoogleCharts.load(() => {
            this.hideLoadingSpinner();

            Promise.all([
                chartUtils.getSensorList(),
                chartUtils.getDailyHumidData()
            ])
            .then(resultArray => {
                let sensorList = resultArray[0];
                let sensorData = resultArray[1];

                this.dataTable = chartUtils.buildHumidDataTable(sensorList, sensorData);
                this.dataView = new GoogleCharts.api.visualization.DataView(this.dataTable);
                this.drawChart();
            })
            .catch(err => {
                console.error(err);
            });
        });
    }
}
</script>

<style scoped>
.chart-container {
    position: relative;
    color: #cecece;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin: auto;
}

.chart-label {
    height: 3.8vh;
    line-height: 3.5vh;
    font-size: 2.4vh;
    font-style: italic;
    padding-left: 15px;
    background-color: rgba(255, 255, 255, 0.12);
}

.chart-canvas {
    height: 39vh;
}

.loading-spinner {
    position: absolute;
    top: 3.8vh;
    left: 0;
    width: 100%;
    height: 39vh;
}

.spinner-icon {
    position: relative;
    top: calc(50% - 3.5vh);
    left: calc(50% - 3.5vh);
    width: 7vh;
    height: 7vh;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../asset/icon/loading.svg');
    animation: rotate 2s infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
</style>
