<template>
    <div class="pop-up-container">
        <div class="pop-up-box">
            <div class="pop-up-header">Export Sensor Data</div>
            <div>
                <div class="dropdown-label">Select export period</div>
                <select class="range-dropdown"
                    v-model="selectedExportPeriod">
                    <option class="dropdown-option"
                        v-for="option in dropdownList"
                        v-bind:value="option.timestamp">{{ formatOption(option.timestamp) }}
                    </option>
                </select>
            </div>
            <div class="btn-group">
                <div class="loading-icon"
                    v-show="isExportLoading"></div>
                <div class="button save"
                    :class="{ 'disable': isExportLoading }"
                    @click="exportHandler(selectedExportPeriod)">
                    Export
                </div>
                <div class="button cancel"
                    :class="{ 'disable': isExportLoading }"
                    @click="cancelHandler">
                    Cancel
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import apiUtils from '../utils/api-utils.js';
import config   from '../config/config.js';

export default {
    props: {
        exportHandler: {
            type: Function,
            default: function noop() {}
        },
        cancelHandler: {
            type: Function,
            default: function noop() {}
        },
        isExportLoading: {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            dropdownList: [],
            selectedExportPeriod: null
        }
    },
    methods: {
        updateDropdown(resultArray) {
            let dropdownOption = [];

            resultArray.forEach(result => {
                if (result.record > 0) {
                    // dropdownOption.push(this.getMonthStrByTimestamp(result.timestamp));
                    dropdownOption.push(result);
                }
                this.dropdownList = dropdownOption;
            });

            if (dropdownOption.length > 0) {
                this.selectedExportPeriod = dropdownOption[0].timestamp;
            }
            else {
                this.selectedExportPeriod = 'No data available to export';
            }
        },
        formatOption(option) { // option is timestamp in ms.
            if (typeof option !== 'number') {
                return option;
            }

            let dateObj = new Date(option);
            let month = this.getMonthStrByTimestamp(option);
            let year = dateObj.getFullYear();

            return month + ' ' + year;
        },
        getMonthStrByTimestamp(timestamp) {
            let dateObj = new Date(timestamp);
            let monthIndex = dateObj.getMonth();

            switch (monthIndex) {
                case 0: return 'January';
                case 1: return 'February';
                case 2: return 'March';
                case 3: return 'April';
                case 4: return 'May';
                case 5: return 'June';
                case 6: return 'July';
                case 7: return 'August';
                case 8: return 'September';
                case 9: return 'October';
                case 10: return 'November';
                case 11: return 'December';
            }
        }
    },
    created() {
        apiUtils
        .fetchFromAPI(config.availableExportPeriodEndpoint)
        .then(response => {
            this.updateDropdown(response);
        })
        .catch(err => {
            console.error(err);
        });
    }
}
</script>

<style scoped>
.pop-up-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 900;
}

.pop-up-box {
    position: relative;
    top: 50%;
    left: 50%;
    width: 30vw;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: #273740;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.12), 0px 1px 4px rgba(0, 0, 0, 0.12);
}

.pop-up-header {
    height: 4vh;
    line-height: 4vh;
    color: #cecece;
    font-size: 2.4vh;
    font-style: italic;
    padding-left: 15px;
    background-color: rgba(255, 255, 255, 0.12);
}

.dropdown-label {
    color: #cecece;
    font-size: 2vh;
    padding-top: 1.5vh;
    padding-left: 20px;
}

.range-dropdown {
    margin-top: 0.7vh;
    margin-left: 20px;
    padding: 5px 10px;
    width: calc(100% - 40px);
    line-height: 2vh;
    color: #cecece;
    font-family: Roboto;
    font-size: 1.8vh;
    font-weight: 300;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(0, 0, 0, 0.12);
}

.dropdown-option {
    color: #cecece;
    font-family: Roboto;
    font-size: 1.8vh;
    font-weight: 300;
    line-height: 2vh;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: #223038;
}

.btn-group {
    display: flex;
    justify-content: flex-end;
    padding: 2.5vh 20px;
}

.loading-icon {
    width: 9ch;
    height: 3vh;
    padding: 0.5vh 1.5vh;
    background-size: 35%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../asset/icon/loading.svg');
    animation: rotate 2s infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.button {
    width: 9ch;
    height: 3vh;
    line-height: 3vh;
    font-size: 2vh;
    text-align: center;
    padding: 0.5vh 1.5vh;
    border: 1px solid;
}

.save {
    color: #81c784;
    border-color: #81c784;
    margin-right: 2vh;
}

.save:hover {
    cursor: pointer;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.45);
    background-color: rgba(129, 199, 132, 0.15);
}

.cancel {
    color: #ef5350;
    border-color: #ef5350;
}

.cancel:hover {
    cursor: pointer;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.45);
    background-color: rgba(239, 83, 80, 0.15);
}

.disable {
    color: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.4);
    pointer-events: none;
}
</style>
