<template>
    <div class="legend-container">
        <div class="legend-label">Legend</div>
        <div class="table-container">
            <div class="data-table">
                <div class="table-header">
                    <div class="sensor">Sensor</div>
                    <div class="temp header"
                        @click="toggleTempCheckBoxAll(); emitTempChangeEvent()">Temp</div>
                    <div class="humid header"
                        @click="toggleHumidCheckBoxAll(); emitHumidChangeEvent()">Humid</div>
                </div>
                <div class="table-row"
                    v-for="(sensor, index) in sensorList" :key="sensor.alias_name">
                    <div class="sensor label-wrapper">
                        <div class="color-icon"
                            :style="{ 'background-color': chartColor[index] }">
                        </div>
                        <div class="sensor-name">{{ sensor.name }}</div>
                    </div>
                    <div class="temp">
                        <div class="checkbox"
                            :class="{ 'checked': sensor.isTempChecked }"
                            @click="toggleTempCheckBox(sensor); emitTempChangeEvent()">
                        </div>
                    </div>
                    <div class="humid data">
                        <div class="checkbox"
                            :class="{ 'checked': sensor.isHumidChecked }"
                            @click="toggleHumidCheckBox(sensor); emitHumidChangeEvent()">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import chartUtils from '../utils/chart-utils.js';

export default {
    data() {
        return {
            sensorList: [],
            isAllTempChecked: true,
            isAllHumidChcked: true,
            chartColor: chartUtils.getChartColor()
        }
    },
    methods: {
        emitTempChangeEvent() {
            let tempFilter = this.getTempFilter();
            this.$emit('temp-changed', tempFilter);
        },
        emitHumidChangeEvent() {
            let humidFilter = this.getHumidFilter();
            this.$emit('humid-changed', humidFilter);
        },
        toggleTempCheckBox(sensor) {
            sensor.isTempChecked = !sensor.isTempChecked;
        },
        toggleHumidCheckBox(sensor) {
            sensor.isHumidChecked = !sensor.isHumidChecked;
        },
        toggleTempCheckBoxAll() {
            if (this.isAllTempChecked) {
                this.sensorList.forEach(sensor => {
                    sensor.isTempChecked = false;
                });
            }
            else {
                this.sensorList.forEach(sensor => {
                    sensor.isTempChecked = true;
                });
            }
            this.isAllTempChecked = !this.isAllTempChecked;
        },
        toggleHumidCheckBoxAll() {
            if (this.isAllHumidChecked) {
                this.sensorList.forEach(sensor => {
                    sensor.isHumidChecked = false;
                });
            }
            else {
                this.sensorList.forEach(sensor => {
                    sensor.isHumidChecked = true;
                });
            }
            this.isAllHumidChecked = !this.isAllHumidChecked;
        },
        getTempFilter() {
            let tempFilter = [];

            this.sensorList.forEach(sensor => {
                let sensorStat = {
                    aliasName: sensor.alias_name,
                    isTempChecked: sensor.isTempChecked
                };

                tempFilter.push(sensorStat);
            });
            return tempFilter;
        },
        getHumidFilter() {
            let humidFilter = [];

            this.sensorList.forEach(sensor => {
                let sensorStat = {
                    aliasName: sensor.alias_name,
                    isHumidChecked: sensor.isHumidChecked
                };

                humidFilter.push(sensorStat);
            });
            return humidFilter;
        },
        addCheckBoxPropToSensorList(sensorList) {
            sensorList.forEach(sensor => {
                sensor.isTempChecked = true;
                sensor.isHumidChecked = true;
            });
            return sensorList;
        }
    },
    created() {
        chartUtils
        .getSensorList()
        .then(sensorList => {
            this.sensorList = this.addCheckBoxPropToSensorList(sensorList);
        })
        .catch(err => {
            console.error(err);
        });
    }
}
</script>

<style scoped>
.legend-container {
    color: #cecece;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin: auto;
}

.legend-label {
    height: 3.8vh;
    line-height: 3.5vh;
    font-size: 2.4vh;
    font-style: italic;
    padding-left: 15px;
    background-color: rgba(255, 255, 255, 0.12);
}

.table-container {
    padding-top: 1.2vh;
}

.data-table {
    color: #cecece;
    font-size: 1.7vh;
    margin: auto;
}

.table-header,
.table-row {
    display: flex;
    height: 5vh;
    line-height: 5vh;
    
}

.table-header {
    border-bottom: 1px solid #dadada;
}

.table-row:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.sensor {
    width: 50%;
    text-align: left;
    padding-left: 15px;
}

.label-wrapper {
    display: flex;
}

.color-icon {
    width: 1.8vh;
    height: 1.8vh;
    border-radius: 0.9vh;
    margin-top: 1.6vh;
}

.sensor-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 12px;
}

.temp,
.humid {
    width: 25%;
    text-align: center;
}

.header {
    cursor: pointer;
}

.checkbox {
    width: 3vh;
    height: 3vh;
    margin: 1vh auto;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.checkbox:hover {
    cursor: pointer;
}

.checkbox.checked {
    background-size: 85%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../asset/icon/tick.svg');
}
</style>
