<template>
    <div>
        <main-header title="SETTING" />
        <div class="setting-container">
            <div class="table-container">
                <div class="data-table">
                    <div class="table-header">
                        <div class="sensor">Sensor Name</div>
                        <div class="desc">Description</div>
                        <div class="alias-name">Alias Name</div>
                    </div>
                    <div class="table-row"
                        v-for="(sensor) in sensorData" :key="sensor.alias_name"
                        @click="showEditPopUp(sensor)">
                        <div class="sensor data">{{ sensor.name }}</div>
                        <div class="desc data">{{ sensor.desc }}</div>
                        <div class="alias-name data">{{ sensor.alias_name }}</div>
                    </div>
                </div>
            </div>
            <div class="navigation-button">
                <btn-custom
                    class="navi-button"
                    icon="dashboard"
                    label="Dashboard"
                    color="#4caf50"
                    text-align="center"
                    @clicked="goToDashboard"
                />
            </div>
        </div>
        <div class="pop-up-container"
            v-show="showPopUp">
            <div class="pop-up-box">
                <div class="edit-header">Edit Sensor Info</div>
                <div>
                    <div class="input-label">Sensor Name</div>
                    <input class="input-textbox"
                        type="text"
                        v-model="sensorNameInput"
                    >
                </div>
                <div>
                    <div class="input-label">Description</div>
                    <input class="input-textbox"
                        type="text"
                        v-model="descriptionInput"
                    >
                </div>
                <div class="btn-group">
                    <div class="button save"
                        @click="saveChanges">
                        Save
                    </div>
                    <div class="button cancel"
                        @click="cancelChanges">
                        Cancel
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import mockData     from './mockData.js'; // TODO - remove it afterward
import Header       from './header.vue';
import ButtonCustom from './button-custom.vue';
import chartUtils   from '../utils/chart-utils.js';
import apiUtils     from '../utils/api-utils.js';
import config       from '../config/config.js';

export default {
    components: {
        'main-header': Header,
        'btn-custom': ButtonCustom
    },
    data() {
        return {
            sensorData: [],

            // pop up box related
            showPopUp: false,
            selectedSensorAliasName: '',
            sensorNameInput: '',
            descriptionInput: ''
        }
    },
    methods: {
        getSensorList() {
            chartUtils
            .getSensorList()
            .then(sensorList => {
                this.sensorData = sensorList;
            });
        },
        showEditPopUp(sensor) {
            this.selectedSensorAliasName = sensor.alias_name;
            this.sensorNameInput = sensor.name;
            this.descriptionInput = sensor.desc;
            this.showPopUp = true;
        },
        goToDashboard() {
            this.$router.push({ name: 'dashboard' });
        },
        saveChanges() {
            let postData = {
                name: this.sensorNameInput,
                desc: this.descriptionInput,
                aliasName: this.selectedSensorAliasName
            };

            apiUtils
            .postToAPI(config.updateSensorEndPoint, postData)
            .then(() => {
                this.showPopUp = false;
                this.getSensorList();
            })
            .catch(err => {
                alert(err);
            });
        },
        cancelChanges() {
            this.showPopUp = false;
        }
    },
    created() {
        this.getSensorList();
    }
}
</script>

<style scoped>
.setting-container {
    height: 95vh;
    padding: 3vh;
    box-sizing: border-box;
}

.table-container {
    padding-top: 2vh;
}

.data-table {
    width: 100%;
    color: #cecece;
    font-size: 2.3vh;
    margin: auto;
}

.table-header,
.table-row {
    display: flex;
    height: 5vh;
    line-height: 5vh;
    
}

.table-header {
    border-bottom: 1px solid #dadada;
}

.table-row:hover {
    background-color: #2D454F;
    cursor: pointer;
}

.table-row:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.17);
}

.sensor,
.alias-name {
    width: 20%;
    padding-left: 15px;
    box-sizing: border-box;
}

.desc {
    width: 60%;
}

.data {
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 15px;
    box-sizing: border-box;
}

.navigation-button {
    display: flex;
    justify-content: space-between;
    padding-top: 3vh;
}

.navi-button {
    width: 17ch;
}

.pop-up-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 900;
}

.pop-up-box {
    position: relative;
    top: 50%;
    left: 50%;
    width: 30vw;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: #273740;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.12), 0px 1px 4px rgba(0, 0, 0, 0.12);
}

.edit-header {
    height: 4vh;
    line-height: 4vh;
    color: #cecece;
    font-size: 2.4vh;
    font-style: italic;
    padding-left: 15px;
    background-color: rgba(255, 255, 255, 0.12);
}

.input-label {
    color: #cecece;
    font-size: 2vh;
    padding-top: 1.5vh;
    padding-left: 20px;
}

.input-textbox {
    width: calc(100% - 60px);
    color: #cecece;
    font-family: Roboto;
    font-size: 1.8vh;
    font-weight: 300;
    height: 2vh;
    line-height: 2vh;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(0, 0, 0, 0.12);
    padding: 8px;
    margin-top: 0.5vh;
    margin-left: 20px;
}

.input-textbox:focus {
    border: 1px solid #4fc3f7;
    box-shadow: 0px 1px 6px rgba(79, 195, 247, 0.12), 0px 1px 4px rgba(79, 195, 247, 0.12);
}

.btn-group {
    display: flex;
    justify-content: flex-end;
    padding: 2.5vh 20px;
}

.button {
    width: 9ch;
    height: 3vh;
    line-height: 3vh;
    font-size: 2vh;
    text-align: center;
    padding: 0.5vh 1.5vh;
    border: 1px solid;
}

.save {
    color: #81c784;
    border-color: #81c784;
    margin-right: 2vh;
}

.save:hover {
    cursor: pointer;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.45);
    background-color: rgba(129, 199, 132, 0.15);
}

.cancel {
    color: #ef5350;
    border-color: #ef5350;
}

.cancel:hover {
    cursor: pointer;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.45);
    background-color: rgba(239, 83, 80, 0.15);
}
</style>
