:root {
    font-family: Roboto, sans-serif;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
    background-color: #ffffff;
}

body {
    margin: 0;
}

@font-face {
  font-family: Roboto;
  font-weight: 300;
  font-style: normal;
  src: url('../asset/font/Roboto-Light.ttf');
}

@font-face {
  font-family: Roboto;
  font-weight: 300;
  font-style: italic;
  src: url('../asset/font/Roboto-LightItalic.ttf');
}

@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  src: url('../asset/font/Roboto-Regular.ttf');
}

@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: italic;
  src: url('../asset/font/Roboto-Italic.ttf');
}

@font-face {
  font-family: Roboto;
  font-weight: 500;
  font-style: normal;
  src: url('../asset/font/Roboto-Medium.ttf');
}

@font-face {
  font-family: Roboto;
  font-weight: 500;
  font-style: italic;
  src: url('../asset/font/Roboto-MediumItalic.ttf');
}

@font-face {
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  src: url('../asset/font/Roboto-Bold.ttf');
}

@font-face {
  font-family: Roboto;
  font-weight: 700;
  font-style: italic;
  src: url('../asset/font/Roboto-BoldItalic.ttf');
}